<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Mostafa Mhli</h2>
            <h4>engmostafamhli@gmail.com</h4>
        </div>
        <img src=".\assets\img\Me.png" alt="Mostafa Mhli" />
    </div>

    <mat-divider></mat-divider>

    <h2 matsubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matsubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>Leads
    </a>

</mat-nav-list>